{% extends "base.html" %}

{% block page_title %} Locations {% endblock page_title %}


{% block content %}

<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Location List</h3>
            <div class="box-tools pull-right">
                <a href="{% url 'management:location_create' %}" class="btn btn-success btn-sm">ADD LOCATION <i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div class="box-body">
            <table id="table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                      <th>DATE ADDED</th>
                      <th>Location</th>
                      <th>Description</th>
                      <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.date_created|date:"Y-m-d" }}</td>
                            <td>{{ object.name }}</td>
                            <td>{{ object.description }}</td>
                            <td>
                              <a href="{% url 'management:location_update' object.id %}" class="pull-right text-blue"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
            <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
      })
    </script>
{% endblock script %}
