{% extends "base.html" %}

{% block page_title %} Reviews {% endblock page_title %}


{% block content %}

<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Review List</h3>
            <div class="box-tools pull-right">
                <a href="" class="btn btn-success btn-sm">ADD REVIEW <i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div class="box-body">
            <table id="table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                      <th>DATE ADDED</th>
                      <th>Device Name</th>
                      <th>Type</th>
                      <th>Description</th>
                      <th>-</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>

            </table>
        </div>
            <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
      })
    </script>
{% endblock script %}
